@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  white-space: pre-line;
}
body {
  background-color: #f1e9d2;
  font-family: "Red Hat Mono", monospace;
}
/* div {
  border-style: dotted dashed;
} */
button {
  font-family: "Red Hat Mono", monospace;
  display: flex;
  text-decoration: none;
  margin-top: 1em;
  background-color: rgb(240, 204, 184);
  font-size: 15px;
}

button:hover {
  color: #f1e9d2;
  background-color: brown;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

#title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 3em;
}

#round {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 1em;
}

#round {
  margin-top: 10px;
  margin-bottom: 30px;
}

#player-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 1em;
  margin-bottom: 0px;
}
.player-button {
  height: 10em;
  width: 10em;
  background-color: white;
  border: solid 0.1px black;
  border-radius: 50%;
}

.player-button:hover {
  height: 9.9em;
  width: 9.9em;
  background-color: rgb(216, 162, 162);
  border: solid 1.5px black;
  border-radius: 50%;
}
#scores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
}

#npc-choice {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: center;
}
#info {
  position:absolute;
  top: 0;
  left: center;
  font-weight: 600;
  font-style: italic;
}
